body {
    font-family: "Halvar Breitschrift", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    display: block;
    position: relative;
    overflow-x: hidden;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 140px 70px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.text48 {
    text-align: center;
    color: #020202;
    font-size: 48px;
    margin-bottom: 100px;
}

.title{
    color: #020202;
    font-size: 64px;
    margin-left: 60px;
    margin-bottom: 40px;
}

.line{
    width: 1376px;
    height: 0;
    border-top: 4px solid #020202;
    margin:auto;
    margin-bottom: 100px;
}

.complex-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    margin-left: 60px;
}

.right {
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-text {
    font-size: 48px;
    color: #020202;
    margin-top: 40px;
}

.text36{
    font-size: 36px;
    color: #020202;
    text-align: left;
}

.spaced_text{
    letter-spacing: 12px;
}

.center-text {
    font-size: 48px;
    color: #020202;
    margin-top: 40px;
    font-style: italic;
}

.table_lang{
    display: grid;
    grid-template-columns: repeat(4, 265px);
    grid-template-rows: repeat(3, 91px);
    justify-content: center;
    margin-bottom: 100px;
}

.cell{
    width: 265px;
    height: 91px;
    box-sizing: border-box;
    border: 2px solid black;
    align-items: center;    
}


.text48b {
    text-align: center;
    color: #020202;
    font-size: 48px;
    margin-bottom: 100px;
    font-weight: bold;
}

.yellow{
    background-color: #F1FF89;
}

.table{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 100px;
}


.newton-law {
    font-family: 'Halvar Breitschrift', sans-serif;
    width: 595px;
    height: 842px;
    background: white;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.title2 {
    color: #020202;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

.line2 {
    width: 527px;
    height: 4px;
    background-color: #020202;
    border: none;
    margin: 0 auto 15px;
}

.text {
    color: #020202;
    font-size: 15px;
    margin-bottom: 20px;
}


.page-number {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 32px;
    font-weight: 700;
}

.px60{
margin-top: 60px;
margin-bottom: 20px;
}

footer{
    width: 1440px; 
    height: 420px; 
    background: #020202;
}

.huge{
    color: white; 
    font-size: 128px;
    font-weight: 700;
}

.med{
    margin-top: 60px;
    color: white; 
    font-size: 64px;
    font-weight: 400;
}

