body {
    font-family: "Halvar Breitschrift", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    display: block;
    position: relative;
    overflow-x: hidden;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 140px 70px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.text48 {
    text-align: center;
    color: #020202;
    font-size: 48px;
    margin-bottom: 100px;
}

.title{
    color: #020202;
    font-size: 64px;
    margin-left: 60px;
    margin-bottom: 40px;
}

.line{
    width: 1376px;
    height: 0;
    border-top: 4px solid #020202;
    margin:auto;
    margin-bottom: 100px;
}

.complex-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    margin-left: 60px;
}

.right {
    margin-right: 60px;
}

.center-text {
    font-size: 48px;
    color: #020202;
    margin-top: 40px;
}

.text36{
    width: 647px;
    font-size: 36px;
    color: #020202;
    text-align: left;
}

.spaced_text{
    letter-spacing: 12px;
}

.center-text {
    font-size: 48px;
    color: #020202;
    margin-top: 40px;
    font-style: italic;
}

.table_lang{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 100px;
}


.text48b {
    text-align: center;
    color: #020202;
    font-size: 48px;
    margin-bottom: 100px;
    font-weight: bold;
}

.yellow{
    background-color: #F1FF89;
}

