@font-face {
    font-family: "Halvar Breitschrift";
    font-style: normal;
    font-weight: 400;
    src: url("../font/HalvarBreit-Rg.ttf") format("truetype");
}

@font-face {
    font-family: "Halvar Breitschrift";
    font-style: normal;
    font-weight: 700;
    src: url("../font/HalvarBreit-Bd.ttf") format("truetype");
}

@font-face {
    font-family: "Halvar Breitschrift";
    font-style: normal;
    font-weight: 300;
    src: url("../font/HalvarBreit-Lt.ttf") format("truetype");
}

@font-face {
    font-family: "Halvar Breitschrift";
    font-style: italic;
    font-weight: 700;
    src: url("../font/HalvarBreit-BdSlanted.ttf") format("truetype");
}


body {
    font-family: "Halvar Breitschrift", sans-serif;
}


.rg {
    font-weight: 400;
}

.it {
    font-style: italic;
}

.bl {
    font-weight: 700;
}

.bs {
    font-weight: 700;
    font-style: italic;
}

.hl {
    font-weight: 300;
}

.black {
    font-weight: 900;
}

.ss {
    font-style: oblique;
}

.lg {
    font-weight: 100;
}
